<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikipore.fileaction.zip</string>
	<key>connections</key>
	<dict>
		<key>8502F0AE-338E-4D44-BCA7-366BBA63D99B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CD4C652-CFEC-4316-B23D-6D0F42B5DB13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A2448F65-5515-4984-BBE8-B3F443CF8DF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8502F0AE-338E-4D44-BCA7-366BBA63D99B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jan Müller</string>
	<key>description</key>
	<string>Add Selection to Archive.zip</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Add to Archive</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Create Archive</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A2448F65-5515-4984-BBE8-B3F443CF8DF7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>python zip.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8502F0AE-338E-4D44-BCA7-366BBA63D99B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9CD4C652-CFEC-4316-B23D-6D0F42B5DB13</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>8502F0AE-338E-4D44-BCA7-366BBA63D99B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9CD4C652-CFEC-4316-B23D-6D0F42B5DB13</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A2448F65-5515-4984-BBE8-B3F443CF8DF7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/nikipore/alfred-fileaction-zip</string>
</dict>
</plist>
